@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Open+Sans:wght@400;700&display=swap');

body {

    font-family: 'Open Sans', sans-serif;
    display: flex;

 
  }
  
  .cinza{
    background-color: #f5f5f5;
    height: 60vh;
    width: 45vw;
    display: flex;
    flex-direction: column;
    
  }

.cadastro {
  display: flex;
  text-align: center;
  margin-top: 2%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-login{
  padding: 0.50em;
}

.formField{
  display: flex;
  flex-direction: column;
  width: 40vw;
  background-color: #ffff;
  padding: 2%;
  margin: 2%;
  text-align: start;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-left:20px;
}

.formField input{
 border: none;
 padding: 2%
}

.formField input:focus{
  outline: 0;
}

.formField label{
  color: #ff6a58;
}
.error{
  color: red;
  font-size: 15px;
}

.button {
    justify-content: center;
    border: none;
    padding: 1em;
    width: 100%;
    background-color: #ff6a58;
    color: #ffff;
}


.link-login {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding:10px 20px;
}

.link-login a {
  color: blue;
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
}


